.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 18px;
}
h4{
  text-align: center;
}
ul{
  list-style: none;
}
.container{
  width: 100%;
}
p{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mat-card{
  width: 180px;
}

