<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <mat-icon>notes</mat-icon>

    <svg id="rocket" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
      <title>Word List</title><mat-icon>notes</mat-icon>
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)" fill="#dd0031"/>
        <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">
        </g>
      </g>
    </svg>

    <span>Word list!</span>

    <svg id="rocket-smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632" viewBox="0 0 516.119 1083.632">
      <title>Rocket Ship Smoke</title>
      <path id="Path_40" data-name="Path 40" d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z" transform="translate(-147.025 -140.939)" fill="#f5f5f5"/>
    </svg>

  </div>

  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" >
      <button mat-icon-button (click)="openDialogWithTemplateRef(myDialog)">
        <mat-icon>add</mat-icon>
      </button>
    </a>

  </div>

  <div class="container">
    <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)">
      <mat-grid-tile *ngFor="let word of wordList">
        <div class="card-container">
          <mat-card class="example-card card">
            <mat-card-content>
              <p>
                {{word.word}}
              </p>
            </mat-card-content>

            <mat-card-actions>
              <button mat-icon-button [ngStyle]="{ color: word.like? 'red': 'gray' }" aria-label="like" (click)="like(word.id)">
                <mat-icon>favorite</mat-icon>
              </button>
              <button mat-icon-button  aria-label="delete" (click)="delete(word.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
          <h4><b>{{word.updatedAt | date: 'medium'	}}</b></h4>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <svg id="clouds" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677" viewBox="0 0 2611.084 485.677">
    <title>Gray Clouds Background</title>
    <path id="Path_39" data-name="Path 39" d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z" transform="translate(142.69 -634.312)" fill="#eee"/>
  </svg>
<ng-template #myDialog>
  <ul>
    <li>
      <mat-form-field appearance="fill">
        <mat-label>Write your words?</mat-label>
        <textarea matInput placeholder="Note..." [(ngModel)]="wordText"></textarea>
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="save()">Save</button>
    </li>
  </ul>
</ng-template>
</div>
