.email{
  margin-right: 30px;
}
.password{
  margin-right: 6px;
}
.form-group{
  height: 30px;
margin-bottom: 10px;
}
.mat-card-header-text{
  margin-left: 88px;
}
button{
  background-color: white;
  font-size: 20px;
  border: none;
  border-bottom: gray solid 1px;
  margin-left: 33px;
  cursor: pointer;
}
